body, html {
   
    background-color: #cccbcb !important;
    box-sizing: border-box;
    /* background-image: linear-gradient(#045E21, #F29200, #BD1522) */
    
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* .grid{
    display:grid;
    place-items: center;
} */

nav{
    background-color: #3f3f3ff3;

}

a{
    font-family: Verdana, sans-serif;
    font-size: 5vw;

}

a.footer-link{
    text-decoration: none;
    color:#afadad;
    font-size: 1em;

    
}

a.header-link{
    text-decoration: none;
    color:#3f3f3f
}

a:hover, a.header-link:hover, a.footer-link:hover {
    color: #ffffff;
}



p.accordion-text{
    font-family: Verdana, sans-serif;
    color: #cbcccb;
    font-size: 4vw;

}

h3.nav-foot-title{
    font-family: Verdana, sans-serif;
    color: #a0da8ec0;
    
}

h1.flex{
    text-align: center;
    padding: .2em;
    margin: 1em 1em;
    font-size: 1.5em;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
    color:#383622f3;
    letter-spacing: .3em;
    
}

h1.header{
    font-family: 'Holtwood One SC', serif;
    font-size: 7vw;
    margin:1em;
    text-align: center; 
    color: #3f3f3ff3;
   

}

h1.footer-header{
    font-family: 'Holtwood One SC', serif;
    font-size: 5vw;
    margin:1em;
    margin-top: 0%;
    margin-bottom: 2em;
    text-align: center !important;    
    color:#fff;
}


h1.footer-text{
    font-size:xx-large !important;
    font-weight: bolder;
    text-align: center;

}

#myBtn {
    display: none;
    position: fixed;
    bottom: 6em;
    right: 1.2em;
    z-index: 99;
    font-size: 2.5vw;
    border: none;
    outline: none;
    background-color: #a0da8ec0;
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: .5em;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.w3-btn{
    background-color:#9e9f9e !important;
    border-radius: .3em;
    width: 100%;
    font-size: 4vw !important;
    font-weight:bolder;
    padding:1em !important;
    
    
}

.w3-btn:hover {
    background-color:#a7a8a7 !important;
    color: #000000;
}

.word-pop {
    color: #b9aa0a;
}

.parallax {
    /* The image used */
    background-image: url('../IMG/dominique_+_daeron-05053-removebg-preview.png');
  
    /* Full height */
    height: 100%; 
    max-width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   
  }

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-top:10%; */

}

.jumbotron {
    display:flex !important;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    
}

.jumbo-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}

.nav-link{
    padding:0em 3em !important;
}
.navbar-nav {
    padding-left: 1em !important;
    margin-bottom: 1em !important;
    
}

.navbar-brand{
    margin-right: 0 !important;
    font-family: 'Holtwood One SC', serif;
    font-size: 5vw !important;

}

.navbar-collapse{
    flex-grow: 0 !important; 
}

.nav-icons{
    font-size:1.2em;
    text-align:left;
    padding-left: 0;
    float:right;
    align-self: flex-end;
    padding-right: 5%;
}

.nav-icons:hover {
    color: rgb(23, 224, 1) !important;
}










/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  .form-overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10%;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

    /* Position the content inside the overlay */
    .form-overlay-content {
        display:flex;
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        justify-content: center;
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
      }
  
  /* The navigation links inside the overlay */
  .overlay a, .form-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus, .form-overlay a:hover, .form-overlay a:focus{
    color: #f1f1f1;
  }

  
  
  /* Position the close button (top right corner) */
  .overlay .closebtn, .form-overlay .closebtn {
    position: absolute;
    top: .1em;
    right: .1em;
    font-size: 5em;
  }


  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }










div.nav-title{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-self: flex-start;

}

div.nav-card {
    min-height: 50%;
    max-height: fit-content;
    min-width:15%;
    max-width:fit-content;
    padding: 1em;
    /* box-shadow: -1px -1px 20px 0px #ffffff; */
    margin:1em;
    
    
}

div.card {
    background: #cccbcbe7;
    min-height: 350px;
    max-height: fit-content;
    padding: 1em;
    box-shadow: 0px 0px 2px 0px #ffffff;
    margin:4em 1em 4em 1em;
    
}

div.card-c{
    margin-top: 20%;
}

/* Accordion */
.accordion {
    background-color: #cccbcb;
    color: #3f3f3ff3;
    cursor: pointer;
    padding: 1.5rem 3rem;
    align-self: center;
    text-align: center;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
    border-color: #a0da8ec0;
    border-radius: .5em;
    box-shadow: 2px 2px 5px 2px #656363, -1px -1px 2px 1px #ffffff;
    margin:.2em;
    border-style:double;

   
}


.contactButton {
    background-color: #cccbcb;
    color: #3f3f3ff3;
    cursor: pointer;
    padding: 1.5rem 3rem;
    align-self: center;
    text-align: center;
    outline: none;
    font-size: 5vw;
    transition: 0.4s;
    border-style:double;
    border-color: #a0da8ec0;
    border-radius: .5em;
    box-shadow: 2px 2px 5px 2px #656363, -1px -1px 2px 1px #ffffff;
    margin:.2em;
   
}

.active, .accordion:hover {
background-color: #3f3f3ff3;
color:#cccbcb;
box-shadow: 2px 2px 5px 2px #ffffff, -1px -1px 2px 1px #000000;
}

.accordion:after {
content: '\002B';
font-weight: bolder;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
}

.panel {
padding:0em 2em;
background-color:#3f3f3ff3;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
margin: 1em 0em;
border-radius: .5em;
}

/* Form styling */
.form-label{
font-size:1.25em !important;

color:#ffffff;
font-family:Verdana, Geneva, Tahoma, sans-serif;


}

.form-text{
color:#a0da8ec0 !important;
font-family: 'Ubuntu', sans-serif;

}


.footer {
    display: flex;
    justify-content:space-evenly;
    background-color:#3f3f3ff3;
    color: #cccbcb;
    flex-direction: column;
    padding:1em;
    box-shadow: -1px -1px 20px 0px #ffffff;
    margin-top: 2em;
    
}

.footer-item {
    background: #BCBFA3;
    border-style:double;
    border-color: #E8D3A9;
    border-radius: .25em;
    color: #6e6460;
    box-shadow: 2px 2px 5px 2px #000000, -1px -1px 2px 1px #ffffff;
    margin:1em;
    
}

.footer-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



















/* Make the page responsive */
/* Medium Screens */
@media screen and (min-width: 500px) {
    
   div.card{
    width:44%;
   }

   .flex-container {
        flex-flow: row wrap;

    }

    a, a.footer-link{
        font-size: .8em;
    }

    h1.flex{
        font-size: 1.2em;
    }

    .accordion, .contactButton{
        font-size: 1.2em;
        padding:1rem 2rem;
    }

    #myBtn{
        font-size: 2vw;
   
    }

    p.accordion-text{
        font-size: 3vw !important;

    }

    .w3-btn{
        font-size: 1.5vw !important;
    }

    .parallax {
        /* The image used */
        background-image: url('../IMG/dominique_+_daeron-04448-removebg-preview.png');
      
        /* Full height */
        height: auto; 
        max-width: 100%;
    
        /* Create the parallax scrolling effect */
        background-attachment:scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size:c;
      }
      

   
}

@media screen and (min-width: 700px) {

    .footer-group{
    flex-direction: row;
    }

    h3{
        text-align: center;
    }

    a, a.footer-link{
        font-size: 1em;
    }

    #myBtn{
        font-size: 1.5vw;
   
    }

    p.accordion-text{
        font-size: 2vw !important;

    }

}
  
/* Large Screens */
@media screen and (min-width: 992px) {
    
    div.card{
        width:40%;
    }
   
    .flex-container {
        justify-content: space-between;
    } 

    .accordion, .contactButton{
        font-size: 1.5em;
    }

    h1.flex{
        font-size: 1.5em;
    }

    a, a.footer-link{
        font-size: 1.1em;
    }

    #myBtn{
        font-size: 1vw;
   
    }

      .parallax {
        /* The image used */
        background-image: url('../IMg/dominique_+_daeron-03856-removebg-preview.png');
      
        /* Full height */
        height: 100%; 
        max-width: 100%;
    
        /* Create the parallax scrolling effect */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        
      }

}

/* Extra Large Screens */
@media screen and (min-width: 1200px) {
    
    div.card{
        width:30%;
       
    }

    .w3-btn{
        font-size: 1vw !important;
    }
}


/* Extra Large Screens */
@media screen and (min-width: 1500px) {
    
    .form-overlay .closebtn{
        top:2.7em;
    }

    p.accordion-text{
        font-size: 1vw !important;

    }
}

@media screen and (max-width: 991px ) {
    /* Removes jumbotron on small and medium screens */
    .jumbotron, .header{
        display:none !important;
    }

}

@media screen and (max-width: 500px ) {
    /* Adds responsiveness to the navbar text on small screens*/
    .navbar-brand, h3.nav-foot-title, h1.footer-header{
        font-size: 4vw !important;
    }

}


@media only screen and (orientation: landscape) {

    body {
      background-color: #9f9f9f;
    }
}